:root{
  --background-color: rgb(255, 255, 255);
  --background-image: url(/images/fondo.jpg);
  --background-image-login: url(/images/aguaymanto,jpg);
  --height-image: 300px;
}

ol {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.5ch;
  text-align: center;
}

h2 {
  margin-bottom: 4px;
  padding: 0;
}

.first-day {
  grid-column-start: 3;
}

.day-name {
  background: #eee;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
  padding: 4px;
  text-align: center;
}

.bg-web{
  background: var(--background-color) var(--background-image)  center center/cover no-repeat fixed;
}

.bg-login{
  background: var(--background-color) var(--background-image-login)  center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-nav > .nav-item > .nav-link{
  font-size: 16px;
  font-weight: bold;
}

.vh-75{
  height: 75vh!important;
}

img.card-img-top:hover{
  opacity:0.9;
  transform: scale(1.05)
}

.block-image{
    height:var(--height-image);
    aspect-ratio:1;
}