{% include 'public/dashboard/header.html' %}
    
    <!--<main class="vh-75 justify-content-center align-items-center">
      <div class="container">
        <div class="row vh-75 justify-content-center align-items-center">       
          <div class="col-12 col-sm-10 col-lg-8">
            <div class="card py-3">
              <div class="card-title"><h1 class="text-center my-0">Data {{nombre}}</h1></div>
              <div class="card-body">
                <div class="row justify-content-center align-items-center">
                  <div class="col-8 col-sm-4 text-center">
                    <i class="fas fa-database fa-6x mb-3"></i>
                  </div>
                </div>
                <div class="row justify-content-center align-items-center">
                  <div class="col-8 col-sm-4 text-center">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#heatMap"><i class="fas fa-map fa-3x"></i><br>Mostrar mapa de calor</button>
                  </div>
                  <div class="col-8 col-sm-4 text-center">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#fileuploadForm"><i class="fas fa-file-upload fa-3x"></i><br>Subir archivo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div id="fileuploadForm" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <form id="uploadForm" method="post" action="{{ url_for('data') }}" >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Sube archivo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                <label for="formFile" class="form-label">Selecciona archivo CSV</label>
                <input class="form-control" type="file" id="formFile">
                <input type="hidden" id="iptFile" name="archivo" >
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id="btnUpload" class="btn btn-success" data-bs-dismiss="modal">Subir archivo</button>
            </div>
          </div>
        </form>

      </div>
    </div>

    <div id="heatMap" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">-->
            <!--<h5 class="modal-title">Mapa de calor</h5>-->
            <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img class="block-image img-fluid" style="--height-image:100%" src="{{ url_for('static', filename ='images/mapa_calor.jpg') }}" />
          </div>
        </div>
      </div>
    </div>-->

{% include 'public/dashboard/footer.html' %}