{% include 'public/dashboard/header.html' %}

    <main class="vh-75 justify-content-center align-items-center">
      <div class="container">
        <div class="row vh-75 justify-content-center align-items-center">       
          <div class="col-12 col-sm-10 col-lg-8">
            <div class="card py-3">
              <div class="card-title"><h1 class="text-center my-0">Entrenamiento</h1></div>
              <div class="card-body">
                <div class="row justify-content-center align-items-center">
                  <div class="col-8 col-sm-4 text-center">
                    <a class="btn btn-light" href="{{ url_for('imagenes_afectadas') }}?pagina=entrenamiento"><i class="fas fa-folder fa-3x"></i><br>Imagenes afectadas <br>por pulguilla</a>
                  </div>
                  <div class="col-8 col-sm-4 text-center">
                    <a class="btn btn-light" href="{{ url_for('imagenes_no_afectadas') }}?pagina=entrenamiento"><i class="fas fa-folder fa-3x"></i><br>Imagenes no afectadas <br>por pulguilla</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

{% include 'public/dashboard/footer.html' %}