{% include 'public/dashboard/header.html' %}

    <main class="vh-75 justify-content-center align-items-center">
      <div class="container">
        <div class="row vh-75 justify-content-center align-items-center">       
          <div class="col-12 col-sm-10 col-lg-8">
            <form id="filterForm" method="post" action="{{ url_for('filtrar') }}">
              <div class="card py-3">
                <div class="card-title"><h1 class="text-center my-0">Filtros</h1></div>
                <div class="card-body">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-12 col-sm-6 col-md-5 col-lg-4 text-center">
                      <select id="selectFiltros" name="tipofiltro" class="form-select mb-3" required>
                        <option value="" selected>Seleccionar Filtro</option>
                        <option value="Tienda">Tienda</option>
                        <option value="Producto">Linea</option>
                        <option value="Marca">Marca</option>
                        <option value="All">Todos</option>
                      </select>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-12 col-sm-10 col-md-8 text-center">
                      <select id="selectTienda" name="buscar" class="form-select mb-3 control-select d-none" required>
                        <option selected>Seleccionar Tienda</option>
                      </select>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-12 col-sm-10 col-md-8 text-center">
                      <select id="selectProducto" name="buscar" class="form-select mb-3 control-select d-none" required>
                        <option selected>Seleccionar Linea</option>
                      </select>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-12 col-sm-10 col-md-8 text-center">
                      <select id="selectEquipo" name="buscar" class="form-select mb-3 control-select d-none" required>
                        <option selected>Seleccionar Marca</option>
                      </select>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-12 col-sm-10 col-md-8 text-center">
                      <button id="btn-filter" class="btn btn-success d-none" type="submit">Filtrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

{% include 'public/dashboard/footer.html' %}