
	
<!-- Optional JavaScript; choose one of the two! -->
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="{{ url_for('static', filename ='assets/bootstrap-5.2.1/js/bootstrap.bundle.min.js') }}"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
<!-- Masonry -->
<script src="{{ url_for('static', filename ='assets/masonry/dist/masonry.pkgd.min.js') }}"></script>
<!-- ImagesLoaded -->
<script src="{{ url_for('static', filename ='assets/imagesloaded/imagesloaded.min.js') }}"></script>
<!-- Main js -->
<script src="{{ url_for('static', filename ='js/main.js') }}"></script>
	
</body>
</html>