<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Marathon-Pronostico</title>


	<link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/home.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/menu.css') }}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/pace_loader.css') }}">
	<!-- Toastr - Alerts -->
	<link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/custom_alert.css') }}">

	<!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename ='images/favicon.png') }}"/>
  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename ='assets/bootstrap-5.2.1/css/bootstrap.min.css') }} " rel="stylesheet">
  <!-- Font Awesome CSS -->
  <script src="{{ url_for('static', filename ='assets/fontawesome-free-5.15.4-web/js/all.min.js') }}"></script>
  <script src="{{ url_for('static', filename ='assets/fontawesome-free-5.15.4-web/js/brands.min.js') }}"></script>
  <script src="{{ url_for('static', filename ='assets/fontawesome-free-5.15.4-web/js/solid.min.js') }}"></script>
  <script src="{{ url_for('static', filename ='assets/fontawesome-free-5.15.4-web/js/regular.min.js') }}"></script>
  <script src="{{ url_for('static', filename ='assets/fontawesome-free-5.15.4-web/js/v4-shims.min.js') }}"></script>
  <script src="{{ url_for('static', filename ='assets/fontawesome-free-5.15.4-web/js/fontawesome.min.js') }}"></script>
  <!-- SweetAlert2-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css" rel="stylesheet">
  <!-- MY Styles CSS -->
  <link href="{{ url_for('static', filename ='css/styles.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename ='assets/papa-parse/papa-parse.min.js') }}"></script>
</head>
<body class="bg-web" style="--background-image: url({{ url_for('static', filename ='images/fondo.jpg') }})">
	<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Marathon</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            {% if session['tipo_user'] != 3: %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('data') }}"><i class="fas fa-database"></i> Data</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('filtros') }}"><i class="fas fa-filter"></i> Filtros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ url_for('procesamiento') }}"><i class="fas fa-tasks"></i> Procesamiento</a>
            </li>
            <li class="nav-item d-block d-sm-none">
              <a class="nav-link" aria-current="page" href="{{ url_for('login') }}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
            </li>
          </ul>
        </div>
        <div class="d-none d-sm-block">
          <a href="{{ url_for('logout') }}" class="btn btn-primary"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
        </div>
      </div>
    </nav>
  </header>