{% include 'public/dashboard/header.html' %}

    <main class="vh-75 justify-content-center align-items-center">
      <div class="container">
        <div class="row vh-75 justify-content-center align-items-center">       
          <div class="col-12 col-sm-10 col-lg-8">
            <div class="card py-3">
              <div class="card-title"><h1 class="text-center my-0">Proceso</h1></div>
              <div class="card-body">
                <div class="row justify-content-center align-items-center">
                  <div class="col-8 col-sm-4 text-center">
                    <a class="btn btn-light btn-loading mb-3" href="{{ url_for('modelado') }}"><i class="fas fa-puzzle-piece fa-3x"></i><br>Modelado</a>
                  </div>
                  <div class="col-8 col-sm-4 text-center">
                    <a class="btn btn-light btn-loading mb-3" href="{{ url_for('normalizacion') }}"><i class="fas fa-search fa-3x"></i><br>Evaluación</a>
                  </div>
                  <div class="col-8 col-sm-4 text-center">
                    <a class="btn btn-light btn-loading mb-3" href="{{ url_for('despliegue') }}"><i class="fas fa-expand-arrows-alt fa-3x"></i><br>Despliegue</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

{% include 'public/dashboard/footer.html' %}