{% include 'public/dashboard/header.html' %}

    <main class="vh-75 justify-content-center align-items-center">
      <div class="container">
        <div class="row vh-75 justify-content-center align-items-center">       
          <div class="col-12 col-sm-10 col-lg-8">
            <div class="card py-3">
              <div class="card-title"><h1 class="text-center my-0">Pronostico</h1></div>
              <div class="card-body">
                <table class="table">
                  <thead class="text-center"><th>Fecha</th><th>Valor (S/)</th></thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

{% include 'public/dashboard/footer.html' %}