{% include 'public/dashboard/header.html' %}
    
    <main class="justify-content-center align-items-center">
      <div class="container">
        <div class="row justify-content-center align-items-center pt-4">       
          <div class="col-12 col-sm-10 col-lg-8 bg-light rounded">
            <h1 class="text-center mt-3">Validación</h1>
            <div id="validation" class="row justify-content-center align-items-center" style="min-height:500px">
              <div class="col-auto">
                <div class="text-center">
                  <div class="spinner-border" style="--bs-spinner-width: 5rem;--bs-spinner-height: 5rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

{% include 'public/dashboard/footer.html' %}