<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <meta name="keywords" content="" lang="es">
    <meta name="description" content="">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename ='images/favicon.png') }}"/>
    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename ='assets/bootstrap-5.2.1/css/bootstrap.min.css') }} " rel="stylesheet">
    <!-- Font Awesome CSS -->
    <script src="{{ url_for('static', filename ='assets/fontawesome-free-5.15.4-web/js/all.min.js') }}"></script>
    <script src="{{ url_for('static', filename ='assets/fontawesome-free-5.15.4-web/js/brands.min.js') }}"></script>
    <script src="{{ url_for('static', filename ='assets/fontawesome-free-5.15.4-web/js/solid.min.js') }}"></script>
    <script src="{{ url_for('static', filename ='assets/fontawesome-free-5.15.4-web/js/regular.min.js') }}"></script>
    <script src="{{ url_for('static', filename ='assets/fontawesome-free-5.15.4-web/js/v4-shims.min.js') }}"></script>
    <script src="{{ url_for('static', filename ='assets/fontawesome-free-5.15.4-web/js/fontawesome.min.js') }}"></script>
    <!-- SweetAlert2-->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.min.css" rel="stylesheet">
    <!-- MY Styles CSS -->
    <link href="{{ url_for('static', filename ='css/styles.css') }}" rel="stylesheet">

    <title>Marathon-Pronostico</title>
  </head>
  <body class="bg-web" style="--background-image: url({{ url_for('static', filename ='images/fondo.jpg') }})">
    <header></header>

