{% include 'public/modulo_login/header.html' %}
    
    <main class="vh-100 justify-content-center align-items-center">
      <div class="container">
        <div class="row vh-100 justify-content-center align-items-center">
          <div class="col-12 col-sm-10 col-lg-8">
            <div class="card p-3 shadow">
              <div class="card-title">
                <h1 class="text-center fs-4">BIENVENIDO <br> SISTEMA DE PRONOSTICOS</h1>
              </div>
              <div class="card-body">
                <div class="row justify-content-center">
                  <div class="col-auto pb-3">
                    <img class="block-image img-fluid" src="{{ url_for('static', filename ='images/marathon.jpg') }}" />
                  </div>
                  <div class="w-100"></div>
                  <div class="col-auto"><a class="btn btn-primary" href="{{ url_for('login') }}">Entrar al sistema</a></div>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </main>

{% include 'public/modulo_login/footer.html' %}