{% include 'public/modulo_login/header.html' %}
    
    <main class="vh-100 justify-content-center align-items-center">
      <div class="container">
        <div class="row vh-100 justify-content-center align-items-center">
          <div class="col-12 col-sm-10 col-lg-8 py-3">
            <div class="card mb-3 ">
              <div class="row g-0 justify-content-center align-items-stretch">
                <div class="col-md-6 order-2 order-sm-1 rounded-start bg-login" style="--background-image-login: url({{ url_for('static', filename ='images/marathon.jpg') }})">

                </div>
                <div class="col-md-6 order-1 order-sm-2">
                  <div class="card-body">
                    <h5 class="card-title text-center">Iniciar Sesión</h5>
                    <form id="loginForm" method="post" action="{{ url_for('authorization') }}">
                      <div class="mb-3">
                        <label>Usuario:</label>
                        <input type="email" class="form-control" name="email" autocomplete="new-password" required/>
                      </div>
                      <div class="mb-3">
                        <label>Contraseña:</label>
                        <input type="password" class="form-control" name="password" autocomplete="new-password" required/>
                      </div>
                      <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Iniciar sesion</button>
                        <!--<a class="btn btn-primary" href="{{ url_for('data') }}">Iniciar sesion</a>-->
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

{% include 'public/modulo_login/footer.html' %}